<!DOCTYPE html>
<head>
    <meta lang="en"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link rel="stylesheet" href="../styles/styles.css"/>
    <link rel="stylesheet" href="../styles/index.css"/>    
</head>

<html>
    <body>
        <header>            
            <ul id="menu">
                <li><a href="index.html">Home</a></li>                
                <li class="menu-expanded">
                    <a>Form</a>
                    <div class="menu-expanded-content">                    
                        <a href="form-html-validation.html">HTML Validation</a>    
                        <a href="form-js-validation.html">Vanilla JS Validation</a>
                        <a href="form-jquery-validation.html">JQuery Validate</a>
                        <a href="form-php-js.html">PHP JS Validate</a>
                        <a href="form-php-jquery.html">PHP JQuery Validate</a>
                        <a href="db-php.html">DB PHP</a>
                    </div>
                </li>  
                <li class="menu-expanded">
                    <a>About</a>
                    <div class="menu-expanded-content">                    
                        <a href="https://github.com/ShkalikovOleh/Labs/tree/develop/part%203/WebLabs">Source</a>    
                        <a href="https://www.facebook.com/oleh.shkalikov">Facebook</a>                    
                    </div>
                </li>  
            </ul>            
        </header>
        
        <div id="content">            
            <section id="history">
                <article>
                    <h1>Our History</h1> 
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Reiciendis, nesciunt doloremque atque modi voluptatem earum
                        unde sit possimus officia, qui maiores commodi perspiciatis 
                        beatae recusandae velit aut repellat, totam odit. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ad incidunt quos tenetur sunt dignissimos dolores est, 
                        repudiandae esse molestiae. Delectus, voluptatum quia? 
                        Mollitia quae beatae ut dignissimos et possimus architecto.</p>
                    <img id="ipt-logo" src="../assets/imgs/ipt.png" alt="">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Nobis deserunt perferendis esse exercitationem praesentium. 
                        Consequuntur modi reprehenderit omnis nihil esse ex eligendi fugiat,
                        maxime iusto cumque, doloremque beatae amet rem?
                    </p>
                </article>
            </section>

            <section id="members">
                <h1>IPT Members</h1>
                <article id="member-list">
                    <div class="member-card">
                        <div class="member-card-front">
                            <img src="../assets/imgs/avatar.jpeg"> 
                        </div>
                        <div class="member-card-back">
                            <h1>Doe Joe</h1>
                            <p class="member-card-birthday">01.01.1970</p>
                            <p class=member-card-desc>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque quasi rerum tempore accusantium vitae officiis.</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <div class="member-card-front">
                            <img src="../assets/imgs/avatar.jpeg"> 
                        </div>
                        <div class="member-card-back">
                            <h1>Doe Joe</h1>
                            <p class="member-card-birthday">01.01.1970</p>
                            <p class=member-card-desc>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque quasi rerum tempore accusantium vitae officiis.</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <div class="member-card-front">
                            <img src="../assets/imgs/avatar.jpeg"> 
                        </div>
                        <div class="member-card-back">
                            <h1>Doe Joe</h1>
                            <p class="member-card-birthday">01.01.1970</p>
                            <p class=member-card-desc>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque quasi rerum tempore accusantium vitae officiis.</p>
                        </div>
                    </div> 
                    
                    <div class="member-card">
                        <div class="member-card-front">
                            <img src="../assets/imgs/avatar.jpeg"> 
                        </div>
                        <div class="member-card-back">
                            <h1>Doe Joe</h1>
                            <p class="member-card-birthday">01.01.1970</p>
                            <p class=member-card-desc>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque quasi rerum tempore accusantium vitae officiis.</p>
                        </div>
                    </div>

                </article>
                
                <article id="members-add">
                    <h2>Did not find yourself?</h2>
                    <a href="form-html-validation.html">Add</a>
                </article>
            </section>
        </div>        
        
        <footer>
            <p>&copy; Oleh Shkalikov - 2019</p>
            <a href="https://github.com/ShkalikovOleh/Labs/tree/develop/part%203/WebLabs">
                <img src="../assets/imgs/github.png">
                <p>Source code</p>
            </a>
        </footer>
    </body>
</html>