<!DOCTYPE html>
<head>
    <meta lang="en"/>
    <meta charset="utf-8"/>
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/styles.css"/>
    <link rel="stylesheet" href="../styles/form.css"/>    
    <script type="text/javascript" src="../assets/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/jquery/jquery.validate.min.js"></script>
    <script src="../scripts/modal.js"></script>
</head>

<html>
    <body>
        <header>            
            <ul id="menu">
                <li><a href="index.html">Home</a></li>                
                <li class="menu-expanded">
                    <a>Form</a>
                    <div class="menu-expanded-content">                    
                        <a href="form-html-validation.html">HTML Validation</a>    
                        <a href="form-js-validation.html">Vanilla JS Validation</a>
                        <a href="form-jquery-validation.html">JQuery Validate</a>
                        <a href="form-php-js.html">PHP JS Validate</a>
                        <a href="form-php-jquery.html">PHP JQuery Validate</a>
                    </div>
                </li>  
                <li class="menu-expanded">
                    <a>About</a>
                    <div class="menu-expanded-content">                    
                        <a href="https://github.com/ShkalikovOleh/Labs/tree/develop/part%203/WebLabs">Source</a>    
                        <a href="https://www.facebook.com/oleh.shkalikov">Facebook</a>
                    </div>
                </li>  
            </ul>            
        </header>

        <div id="content"> 
            <h1>Are you member?</h1>
            <h2>Add yourself</h2>            
            <form accept-charset="utf-8">
                <section class="form-element">
                    <label for="Name">Name</label>
                    <input type="text" id="Name" name="Name" placeholder="Your name" pattern="/^[A-Za-z\s]+$/" required>
                </section>                

                <section class="form-element">
                    <label for="email">E-mail</label>
                    <input type="email" id="Email" name="Email" placeholder="xxx@xxx.xxx" required>
                </section>

                <section class="form-element">
                    <label for="Birthday">Birhtday</label>
                    <input type="date" id="Birthday" name="Birthday" required>
                </section>                               

                <section class="form-element description">
                    <label for="Desc">Description:</label>
                    <textarea id="Desc" name="Desc" rows="5"></textarea>
                </section>                
            
                <section class="form-element">
                    <input type="submit">
                </section>                
            </form>

            <div class="modal">                                
                <div class="modal-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis quas corrupti temporibus tenetur quo aut error 
                        sequi iure facere cum sapiente deserunt, ipsa amet hic 
                        repellat non quibusdam sit laboriosam?
                    </p>
                    <div class="btn-ok" onclick="ClosePopup()">OK</div>
                </div>                
            </div>
        </div>   

        <footer>
            <p>&copy; Oleh Shkalikov - 2019</p>
            <a href="https://github.com/ShkalikovOleh/Labs/tree/develop/part%203/WebLabs">
                <img src="../assets/imgs/github.png">
                <p>Source code</p>
            </a>
        </footer>
    </body>
</html>